title: MIRMI - Environmental Robotics
description: Website of our research group
url: "https://lennarttro.github.io" # set custom domain here later
baseurl: "/MIRMI---Environmental-Robotics-" # project pages path
permalink: /:categories/:year/:month/:day/:title/
markdown: kramdown
theme: null
timezone: Europe/Berlin

# Homepage banner image
banner_image: "/assets/images/Banner_lang.png"

# Navigation data
collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
      type: "pages"
    values:
      layout: default

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
